<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="95.7.14" targetFramework="net452" />
  <package id="cef.redist.x86" version="95.7.14" targetFramework="net452" />
  <package id="CefSharp.Common" version="95.7.141" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="95.7.141" targetFramework="net452" />
  <package id="CrashReporter.NET.Official" version="1.6.0" targetFramework="net452" />
  <package id="NAudio" version="1.9.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net452" />
</packages>