<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net452" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net452" />
  <package id="CefSharp.Common" version="86.0.241" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="86.0.241" targetFramework="net452" />
  <package id="CrashReporter.NET.Official" version="1.5.8" targetFramework="net452" />
  <package id="NAudio" version="1.9.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="WpfAnimatedGif" version="1.4.18" targetFramework="net452" />
</packages>